{% extends 'global/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">Confirmar Exclusão</h1>

  <div class="alert alert-warning">
    <p>Tem certeza de que deseja excluir <strong>{{ object.name }}</strong>?</p>
  </div>

  <form method="post"></form>
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
  <a href="{% url 'patient_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}