{% extends 'global/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>Search Users</h1>
<form method="get" action="{% url 'user_search' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Search</button>
</form>
<ul>
  {% for user in users %}
  <li>
    {{ user.username }} -
    <a href="{% url 'patient_create' %}?user_id={{ user.id }}">Select</a>
  </li>
  {% empty %}
  <li>No users found.</li>
  {% endfor %}
</ul>
<a href="{% url 'user_create' %}">Create New User</a>
{% endblock %}