{% extends 'global/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block style %}
<style>
  .btn {
    margin-right: 10px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="card p-4 shadow-sm">
    <h1 class="mb-4">Confirmar Exclusão</h1>

    <p>Você tem certeza de que deseja excluir o prontuário de {{ object.patient }}?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
      <a href="{% url 'medical_record_list' object.patient.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}