{% load static%}
<footer>
    <div class="footer-box-top">
        <div class="footer-area-left">
            <h1>Compartilhe seus conhecimento e aprendizados</h1>
            <p>Crie uma postagem, atraia alunos de todo o instituto e ganhe notoriedade.</p>
        </div>

        <div class="footer-area-right">
            <a href="{% url 'new_post' %}">
                <button>Faça uma Postagem</button>
            </a>
        </div>
    </div>

    <span class="separator"></span>

    <div class="footer-box-bottom">
        <div class="logo-footer logo-copyright">
            <img width="60" src="{% static 'global/img/android-chrome-192x192.png' %}" alt="duck">
        </div>

        <div class="link-cont">
            <a href="{% url 'contact' %}" class="nav-link">Contato</a>
            <a href="https://github.com/RochaGabriell/ProjetoIntegradorI" class="nav-link" target="_blank">GitHub</a>
            <a href="{% url 'editor_guide' %}" class="nav-link" target="_blank">Guia</a>
            <a href="{% url 'about' %}" class="nav-link">Sobre</a>
            <a href="{% url 'terms' %}" class="nav-link">Termos</a>
        </div>

        <div class="copyright-text logo-copyright">
            <p>&copy; 2023 Dev.Duck, Inc.</p>
        </div>
    </div>
</footer>