{% load static%}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'global/img/logo.png' %}" alt="Mediflow Logo" class="logo" width="30" height="30">
                Mediflow
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'patient_list' %}">Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appointment_availability' %}">
                            Consultas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Prontuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Recursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Relatórios</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    Meu Perfil
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    Configurações
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>